.redbtn {
  position: absolute !important;
  bottom: 80px !important;
  left: 85% !important
}

.modalbtn {
  position: absolute !important;
  bottom: 35%!important;
  left: 85% !important;
}

.onecard {
  position: relative !important;
  height: 300px;
  border-radius: 5px !important
}

.imageroll {
  width: 100%
}

.imagemodal {
  width: 100%
}

.desccard {
  font-size: 11px;
}

.titlecard {
  margin-left: 23px !important;
  margin-right: 23px !important;
  white-space: nowrap;
}

.typeroll {
  font-size: 8px;
}

.modalcard {
  position: fixed !important;
  /* bottom: 130px !important; */
  width: 30em !important;
  border-radius: 5px !important;
  top: 50% !important;
  left: 50% !important;
  z-index: 2 !important;
  margin-top: -200px !important;
  margin-left: -225px !important;
}

.icon {
  height: 28px !important;
  width: 28px !important;
  position: absolute;
  top: 0px;
  left: 86%;
}

.icon_2 {
  left: 77%!important;
}

.card__extras {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.maindivmap {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  margin-top: 42px;
}

.card-content_modal {
  border-radius: 0 0 2px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
